/* base styles, using foundation defaults */
html {
  font-family:sans-serif;
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

article,aside,footer,header,nav,section {
  display:block
}

hr {
  box-sizing:content-box;
  height:0;
  overflow:visible
}

a {
  background-color:transparent;
  -webkit-text-decoration-skip:objects
}
a:active,a:hover {
  outline-width:0
}

img {
  border-style:none
}

html {
  box-sizing:border-box;
  font-size:100%
}
*,*::before,*::after {
  box-sizing:inherit
}
body /* base font and color for privacy badger */ {
  margin:0;
  padding:0;
  background:#fefefe;
  font-family:"OpenSans-Light",sans-serif;
  font-weight:normal;
  line-height:1.5;
  color:#000;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
img {
  display:inline-block;
  vertical-align:middle;
  max-width:100%;
  height:auto;
  -ms-interpolation-mode:bicubic
}


/* xy grid, selected foundation classes */
.small-12 {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
}
.grid-container {
  padding-right:.625rem;
  padding-left:.625rem;
  max-width:75rem;
  margin:0 auto
}
@media print, screen and (min-width: 40em) {
  .grid-container {
    padding-right:.9375rem;
    padding-left:.9375rem
  }

}

.grid-container.full {
  padding-right:0;
  padding-left:0;
  max-width:100%;
  margin:0 auto
}
.grid-x {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap
}
.cell {
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  min-height:0px;
  min-width:0px;
  width:100%
}

.grid-x>.small-shrink,.grid-x>.small-full,.grid-x>.small-1,.grid-x>.small-2,.grid-x>.small-3,.grid-x>.small-4,.grid-x>.small-5,.grid-x>.small-6,.grid-x>.small-7,.grid-x>.small-8,.grid-x>.small-9,.grid-x>.small-10,.grid-x>.small-11,.grid-x>.small-12 {
  -ms-flex-preferred-size:auto;
  flex-basis:auto
}
@media print, screen and (min-width: 40em) {
  .grid-x>.medium-10 {
    -ms-flex-preferred-size:auto;
    flex-basis:auto
  }

}
@media print, screen and (min-width: 64em) {
  .grid-x>.large-3,.grid-x>.large-4 {
    -ms-flex-preferred-size:auto;
    flex-basis:auto
  }
}
.grid-x>.small-12 {
  width:100%
}
@media print, screen and (min-width: 40em) {
  .grid-x>.medium-10 {
    width:83.33333%
  }
}
@media print, screen and (min-width: 64em) {
  .grid-x>.large-3 {
    width:25%
  }
  .grid-x>.large-4 {
    width:33.33333%
  }
}
.grid-margin-x {
  margin-left:-.625rem;
  margin-right:-.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-margin-x {
    margin-left:-.9375rem;
    margin-right:-.9375rem
  }

}

.grid-margin-x>.small-12 {
  width:calc(100% - 1.25rem)
}
@media print, screen and (min-width: 40em) {

  .grid-margin-x>.small-12 {
    width:calc(100% - 1.875rem)
  }
  .grid-margin-x>.medium-10 {
    width:calc(83.33333% - 1.875rem)
  }
}
@media print, screen and (min-width: 64em) {
  .grid-margin-x>.large-3 {
    width:calc(25% - 1.875rem)
  }
  .grid-margin-x>.large-4 {
    width:calc(33.33333% - 1.875rem)
  }
}
.grid-padding-x .grid-padding-x {
  margin-right:-.625rem;
  margin-left:-.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-padding-x .grid-padding-x {
    margin-right:-.9375rem;
    margin-left:-.9375rem
  }

}

.grid-padding-x>.cell {
  padding-right:.625rem;
  padding-left:.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-padding-x>.cell {
    padding-right:.9375rem;
    padding-left:.9375rem
  }
}

@media print, screen and (min-width: 64em) {
  .large-up-3>.cell {
    width:33.33333%
  }
  .large-up-4>.cell {
    width:25%
  }
}

@media print, screen and (min-width: 64em) {
  .grid-margin-x.large-up-3>.cell {
    width:calc(33.33333% - 1.875rem)
  }
  .grid-margin-x.large-up-4>.cell {
    width:calc(25% - 1.875rem)
  }
}

.grid-y {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:column nowrap;
  flex-flow:column nowrap
}
.grid-y>.cell {
  width:auto
}
.grid-y>.auto {
  height:auto
}
.grid-y>.shrink {
  height:auto
}
.grid-y>.small-shrink,.grid-y>.small-full,.grid-y>.small-1,.grid-y>.small-2,.grid-y>.small-3,.grid-y>.small-4,.grid-y>.small-5,.grid-y>.small-6,.grid-y>.small-7,.grid-y>.small-8,.grid-y>.small-9,.grid-y>.small-10,.grid-y>.small-11,.grid-y>.small-12 {
  -ms-flex-preferred-size:auto;
  flex-basis:auto
}
@media print, screen and (min-width: 40em) {
  .grid-y>.medium-shrink,.grid-y>.medium-full,.grid-y>.medium-1,.grid-y>.medium-2,.grid-y>.medium-3,.grid-y>.medium-4,.grid-y>.medium-5,.grid-y>.medium-6,.grid-y>.medium-7,.grid-y>.medium-8,.grid-y>.medium-9,.grid-y>.medium-10,.grid-y>.medium-11,.grid-y>.medium-12 {
    -ms-flex-preferred-size:auto;
    flex-basis:auto
  }

}
@media print, screen and (min-width: 64em) {
  .grid-y>.large-shrink,.grid-y>.large-full,.grid-y>.large-1,.grid-y>.large-2,.grid-y>.large-3,.grid-y>.large-4,.grid-y>.large-5,.grid-y>.large-6,.grid-y>.large-7,.grid-y>.large-8,.grid-y>.large-9,.grid-y>.large-10,.grid-y>.large-11,.grid-y>.large-12 {
    -ms-flex-preferred-size:auto;
    flex-basis:auto
  }

}
.grid-y>.small-1 {
  height:8.33333%
}
.grid-y>.small-2 {
  height:16.66667%
}
.grid-y>.small-3 {
  height:25%
}
.grid-y>.small-4 {
  height:33.33333%
}
.grid-y>.small-5 {
  height:41.66667%
}
.grid-y>.small-6 {
  height:50%
}
.grid-y>.small-7 {
  height:58.33333%
}
.grid-y>.small-8 {
  height:66.66667%
}
.grid-y>.small-9 {
  height:75%
}
.grid-y>.small-10 {
  height:83.33333%
}
.grid-y>.small-11 {
  height:91.66667%
}
.grid-y>.small-12 {
  height:100%
}
@media print, screen and (min-width: 40em) {
  .grid-y>.medium-auto {
    -ms-flex:1 1 0px;
    flex:1 1 0px;
    height:auto
  }
  .grid-y>.medium-shrink {
    height:auto
  }
  .grid-y>.medium-1 {
    height:8.33333%
  }
  .grid-y>.medium-2 {
    height:16.66667%
  }
  .grid-y>.medium-3 {
    height:25%
  }
  .grid-y>.medium-4 {
    height:33.33333%
  }
  .grid-y>.medium-5 {
    height:41.66667%
  }
  .grid-y>.medium-6 {
    height:50%
  }
  .grid-y>.medium-7 {
    height:58.33333%
  }
  .grid-y>.medium-8 {
    height:66.66667%
  }
  .grid-y>.medium-9 {
    height:75%
  }
  .grid-y>.medium-10 {
    height:83.33333%
  }
  .grid-y>.medium-11 {
    height:91.66667%
  }
  .grid-y>.medium-12 {
    height:100%
  }

}
@media print, screen and (min-width: 64em) {
  .grid-y>.large-auto {
    -ms-flex:1 1 0px;
    flex:1 1 0px;
    height:auto
  }
  .grid-y>.large-shrink {
    height:auto
  }
  .grid-y>.large-1 {
    height:8.33333%
  }
  .grid-y>.large-2 {
    height:16.66667%
  }
  .grid-y>.large-3 {
    height:25%
  }
  .grid-y>.large-4 {
    height:33.33333%
  }
  .grid-y>.large-5 {
    height:41.66667%
  }
  .grid-y>.large-6 {
    height:50%
  }
  .grid-y>.large-7 {
    height:58.33333%
  }
  .grid-y>.large-8 {
    height:66.66667%
  }
  .grid-y>.large-9 {
    height:75%
  }
  .grid-y>.large-10 {
    height:83.33333%
  }
  .grid-y>.large-11 {
    height:91.66667%
  }
  .grid-y>.large-12 {
    height:100%
  }

}
.grid-padding-y .grid-padding-y {
  margin-top:-.625rem;
  margin-bottom:-.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-padding-y .grid-padding-y {
    margin-top:-.9375rem;
    margin-bottom:-.9375rem
  }

}
.grid-padding-y>.cell {
  padding-top:.625rem;
  padding-bottom:.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-padding-y>.cell {
    padding-top:.9375rem;
    padding-bottom:.9375rem
  }

}
.grid-margin-y {
  margin-top:-.625rem;
  margin-bottom:-.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y {
    margin-top:-.9375rem;
    margin-bottom:-.9375rem
  }

}
.grid-margin-y>.cell {
  height:calc(100% - 1.25rem);
  margin-top:.625rem;
  margin-bottom:.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y>.cell {
    height:calc(100% - 1.875rem);
    margin-top:.9375rem;
    margin-bottom:.9375rem
  }

}
.grid-margin-y>.auto {
  height:auto
}
.grid-margin-y>.shrink {
  height:auto
}
.grid-margin-y>.small-1 {
  height:calc(8.33333% - 1.25rem)
}
.grid-margin-y>.small-2 {
  height:calc(16.66667% - 1.25rem)
}
.grid-margin-y>.small-3 {
  height:calc(25% - 1.25rem)
}
.grid-margin-y>.small-4 {
  height:calc(33.33333% - 1.25rem)
}
.grid-margin-y>.small-5 {
  height:calc(41.66667% - 1.25rem)
}
.grid-margin-y>.small-6 {
  height:calc(50% - 1.25rem)
}
.grid-margin-y>.small-7 {
  height:calc(58.33333% - 1.25rem)
}
.grid-margin-y>.small-8 {
  height:calc(66.66667% - 1.25rem)
}
.grid-margin-y>.small-9 {
  height:calc(75% - 1.25rem)
}
.grid-margin-y>.small-10 {
  height:calc(83.33333% - 1.25rem)
}
.grid-margin-y>.small-11 {
  height:calc(91.66667% - 1.25rem)
}
.grid-margin-y>.small-12 {
  height:calc(100% - 1.25rem)
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y>.auto {
    height:auto
  }
  .grid-margin-y>.shrink {
    height:auto
  }
  .grid-margin-y>.small-1 {
    height:calc(8.33333% - 1.875rem)
  }
  .grid-margin-y>.small-2 {
    height:calc(16.66667% - 1.875rem)
  }
  .grid-margin-y>.small-3 {
    height:calc(25% - 1.875rem)
  }
  .grid-margin-y>.small-4 {
    height:calc(33.33333% - 1.875rem)
  }
  .grid-margin-y>.small-5 {
    height:calc(41.66667% - 1.875rem)
  }
  .grid-margin-y>.small-6 {
    height:calc(50% - 1.875rem)
  }
  .grid-margin-y>.small-7 {
    height:calc(58.33333% - 1.875rem)
  }
  .grid-margin-y>.small-8 {
    height:calc(66.66667% - 1.875rem)
  }
  .grid-margin-y>.small-9 {
    height:calc(75% - 1.875rem)
  }
  .grid-margin-y>.small-10 {
    height:calc(83.33333% - 1.875rem)
  }
  .grid-margin-y>.small-11 {
    height:calc(91.66667% - 1.875rem)
  }
  .grid-margin-y>.small-12 {
    height:calc(100% - 1.875rem)
  }
  .grid-margin-y>.medium-auto {
    height:auto
  }
  .grid-margin-y>.medium-shrink {
    height:auto
  }
  .grid-margin-y>.medium-1 {
    height:calc(8.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-2 {
    height:calc(16.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-3 {
    height:calc(25% - 1.875rem)
  }
  .grid-margin-y>.medium-4 {
    height:calc(33.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-5 {
    height:calc(41.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-6 {
    height:calc(50% - 1.875rem)
  }
  .grid-margin-y>.medium-7 {
    height:calc(58.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-8 {
    height:calc(66.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-9 {
    height:calc(75% - 1.875rem)
  }
  .grid-margin-y>.medium-10 {
    height:calc(83.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-11 {
    height:calc(91.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-12 {
    height:calc(100% - 1.875rem)
  }

}
@media print, screen and (min-width: 64em) {
  .grid-margin-y>.large-auto {
    height:auto
  }
  .grid-margin-y>.large-shrink {
    height:auto
  }
  .grid-margin-y>.large-1 {
    height:calc(8.33333% - 1.875rem)
  }
  .grid-margin-y>.large-2 {
    height:calc(16.66667% - 1.875rem)
  }
  .grid-margin-y>.large-3 {
    height:calc(25% - 1.875rem)
  }
  .grid-margin-y>.large-4 {
    height:calc(33.33333% - 1.875rem)
  }
  .grid-margin-y>.large-5 {
    height:calc(41.66667% - 1.875rem)
  }
  .grid-margin-y>.large-6 {
    height:calc(50% - 1.875rem)
  }
  .grid-margin-y>.large-7 {
    height:calc(58.33333% - 1.875rem)
  }
  .grid-margin-y>.large-8 {
    height:calc(66.66667% - 1.875rem)
  }
  .grid-margin-y>.large-9 {
    height:calc(75% - 1.875rem)
  }
  .grid-margin-y>.large-10 {
    height:calc(83.33333% - 1.875rem)
  }
  .grid-margin-y>.large-11 {
    height:calc(91.66667% - 1.875rem)
  }
  .grid-margin-y>.large-12 {
    height:calc(100% - 1.875rem)
  }

}
.grid-frame {
  overflow:hidden;
  position:relative;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -ms-flex-align:stretch;
  align-items:stretch;
  width:100vw
}
.cell .grid-frame {
  width:100%
}
.cell-block {
  overflow-x:auto;
  max-width:100%;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-stype:-ms-autohiding-scrollbar
}
.cell-block-y {
  overflow-y:auto;
  max-height:100%;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-stype:-ms-autohiding-scrollbar
}
.cell-block-container {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  max-height:100%
}
.cell-block-container>.grid-x {
  max-height:100%;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap
}
@media print, screen and (min-width: 40em) {
  .medium-grid-frame {
    overflow:hidden;
    position:relative;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:100vw
  }
  .cell .medium-grid-frame {
    width:100%
  }
  .medium-cell-block {
    overflow-x:auto;
    max-width:100%;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-stype:-ms-autohiding-scrollbar
  }
  .medium-cell-block-container {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    max-height:100%
  }
  .medium-cell-block-container>.grid-x {
    max-height:100%;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }
  .medium-cell-block-y {
    overflow-y:auto;
    max-height:100%;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-stype:-ms-autohiding-scrollbar
  }

}
@media print, screen and (min-width: 64em) {
  .large-grid-frame {
    overflow:hidden;
    position:relative;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:100vw
  }
  .cell .large-grid-frame {
    width:100%
  }
  .large-cell-block {
    overflow-x:auto;
    max-width:100%;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-stype:-ms-autohiding-scrollbar
  }
  .large-cell-block-container {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    max-height:100%
  }
  .large-cell-block-container>.grid-x {
    max-height:100%;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }
  .large-cell-block-y {
    overflow-y:auto;
    max-height:100%;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-stype:-ms-autohiding-scrollbar
  }

}
.grid-y.grid-frame {
  width:auto;
  overflow:hidden;
  position:relative;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -ms-flex-align:stretch;
  align-items:stretch;
  height:100vh
}
@media print, screen and (min-width: 40em) {
  .grid-y.medium-grid-frame {
    width:auto;
    overflow:hidden;
    position:relative;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -ms-flex-align:stretch;
    align-items:stretch;
    height:100vh
  }

}
@media print, screen and (min-width: 64em) {
  .grid-y.large-grid-frame {
    width:auto;
    overflow:hidden;
    position:relative;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -ms-flex-align:stretch;
    align-items:stretch;
    height:100vh
  }

}
.cell .grid-y.grid-frame {
  height:100%
}
@media print, screen and (min-width: 40em) {
  .cell .grid-y.medium-grid-frame {
    height:100%
  }

}
@media print, screen and (min-width: 64em) {
  .cell .grid-y.large-grid-frame {
    height:100%
  }

}
.grid-margin-y {
  margin-top:-.625rem;
  margin-bottom:-.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y {
    margin-top:-.9375rem;
    margin-bottom:-.9375rem
  }

}
.grid-margin-y>.cell {
  height:calc(100% - 1.25rem);
  margin-top:.625rem;
  margin-bottom:.625rem
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y>.cell {
    height:calc(100% - 1.875rem);
    margin-top:.9375rem;
    margin-bottom:.9375rem
  }

}
.grid-margin-y>.auto {
  height:auto
}
.grid-margin-y>.shrink {
  height:auto
}
.grid-margin-y>.small-1 {
  height:calc(8.33333% - 1.25rem)
}
.grid-margin-y>.small-2 {
  height:calc(16.66667% - 1.25rem)
}
.grid-margin-y>.small-3 {
  height:calc(25% - 1.25rem)
}
.grid-margin-y>.small-4 {
  height:calc(33.33333% - 1.25rem)
}
.grid-margin-y>.small-5 {
  height:calc(41.66667% - 1.25rem)
}
.grid-margin-y>.small-6 {
  height:calc(50% - 1.25rem)
}
.grid-margin-y>.small-7 {
  height:calc(58.33333% - 1.25rem)
}
.grid-margin-y>.small-8 {
  height:calc(66.66667% - 1.25rem)
}
.grid-margin-y>.small-9 {
  height:calc(75% - 1.25rem)
}
.grid-margin-y>.small-10 {
  height:calc(83.33333% - 1.25rem)
}
.grid-margin-y>.small-11 {
  height:calc(91.66667% - 1.25rem)
}
.grid-margin-y>.small-12 {
  height:calc(100% - 1.25rem)
}
@media print, screen and (min-width: 40em) {
  .grid-margin-y>.auto {
    height:auto
  }
  .grid-margin-y>.shrink {
    height:auto
  }
  .grid-margin-y>.small-1 {
    height:calc(8.33333% - 1.875rem)
  }
  .grid-margin-y>.small-2 {
    height:calc(16.66667% - 1.875rem)
  }
  .grid-margin-y>.small-3 {
    height:calc(25% - 1.875rem)
  }
  .grid-margin-y>.small-4 {
    height:calc(33.33333% - 1.875rem)
  }
  .grid-margin-y>.small-5 {
    height:calc(41.66667% - 1.875rem)
  }
  .grid-margin-y>.small-6 {
    height:calc(50% - 1.875rem)
  }
  .grid-margin-y>.small-7 {
    height:calc(58.33333% - 1.875rem)
  }
  .grid-margin-y>.small-8 {
    height:calc(66.66667% - 1.875rem)
  }
  .grid-margin-y>.small-9 {
    height:calc(75% - 1.875rem)
  }
  .grid-margin-y>.small-10 {
    height:calc(83.33333% - 1.875rem)
  }
  .grid-margin-y>.small-11 {
    height:calc(91.66667% - 1.875rem)
  }
  .grid-margin-y>.small-12 {
    height:calc(100% - 1.875rem)
  }
  .grid-margin-y>.medium-auto {
    height:auto
  }
  .grid-margin-y>.medium-shrink {
    height:auto
  }
  .grid-margin-y>.medium-1 {
    height:calc(8.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-2 {
    height:calc(16.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-3 {
    height:calc(25% - 1.875rem)
  }
  .grid-margin-y>.medium-4 {
    height:calc(33.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-5 {
    height:calc(41.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-6 {
    height:calc(50% - 1.875rem)
  }
  .grid-margin-y>.medium-7 {
    height:calc(58.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-8 {
    height:calc(66.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-9 {
    height:calc(75% - 1.875rem)
  }
  .grid-margin-y>.medium-10 {
    height:calc(83.33333% - 1.875rem)
  }
  .grid-margin-y>.medium-11 {
    height:calc(91.66667% - 1.875rem)
  }
  .grid-margin-y>.medium-12 {
    height:calc(100% - 1.875rem)
  }

}
@media print, screen and (min-width: 64em) {
  .grid-margin-y>.large-auto {
    height:auto
  }
  .grid-margin-y>.large-shrink {
    height:auto
  }
  .grid-margin-y>.large-1 {
    height:calc(8.33333% - 1.875rem)
  }
  .grid-margin-y>.large-2 {
    height:calc(16.66667% - 1.875rem)
  }
  .grid-margin-y>.large-3 {
    height:calc(25% - 1.875rem)
  }
  .grid-margin-y>.large-4 {
    height:calc(33.33333% - 1.875rem)
  }
  .grid-margin-y>.large-5 {
    height:calc(41.66667% - 1.875rem)
  }
  .grid-margin-y>.large-6 {
    height:calc(50% - 1.875rem)
  }
  .grid-margin-y>.large-7 {
    height:calc(58.33333% - 1.875rem)
  }
  .grid-margin-y>.large-8 {
    height:calc(66.66667% - 1.875rem)
  }
  .grid-margin-y>.large-9 {
    height:calc(75% - 1.875rem)
  }
  .grid-margin-y>.large-10 {
    height:calc(83.33333% - 1.875rem)
  }
  .grid-margin-y>.large-11 {
    height:calc(91.66667% - 1.875rem)
  }
  .grid-margin-y>.large-12 {
    height:calc(100% - 1.875rem)
  }

}
.grid-frame.grid-margin-y {
  height:calc(100vh + 1.25rem)
}
@media print, screen and (min-width: 40em) {
  .grid-frame.grid-margin-y {
    height:calc(100vh + 1.875rem)
  }

}
@media print, screen and (min-width: 64em) {
  .grid-frame.grid-margin-y {
    height:calc(100vh + 1.875rem)
  }

}
@media print, screen and (min-width: 40em) {
  .grid-margin-y.medium-grid-frame {
    height:calc(100vh + 1.875rem)
  }

}
@media print, screen and (min-width: 64em) {
  .grid-margin-y.large-grid-frame {
    height:calc(100vh + 1.875rem)
  }

}
/* end xy grid */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
  margin:0;
  padding:0
}
p {
  margin-bottom:1rem;
  font-size:inherit;
  line-height:1.6;
  text-rendering:optimizeLegibility
}
em,i {
  font-style:italic;
  line-height:inherit
}
strong,b {
  font-weight:bold;
  line-height:inherit
}
small {
  font-size:80%;
  line-height:inherit
}

/* Privacy Badger header fonts */
h1,
h2,
h3,
h4,
h5 {
  font-family:"OpenSans-Bold",sans-serif;
  font-style:normal;
  font-weight:normal;
  color:inherit;
  text-rendering:optimizeLegibility
}

h1 {
  font-size:1.875rem;
  line-height:1.4;
  margin-top:0;
  margin-bottom:.5rem
}
h2 {
  font-size:1.25rem;
  line-height:1.4;
  margin-top:0;
  margin-bottom:.5rem
}
h3 {
  font-size:1.1875rem;
  line-height:1.4;
  margin-top:0;
  margin-bottom:.5rem
}
h4 {
  font-size:1.125rem;
  line-height:1.4;
  margin-top:0;
  margin-bottom:.5rem
}
h5 {
  font-size:1.0625rem;
  line-height:1.4;
  margin-top:0;
  margin-bottom:.5rem
}
h6 {
  font-size:1rem;
  line-height:1.4;
  margin-top:0;
  margin-bottom:.5rem
}
@media print, screen and (min-width: 40em) {
  h1 {
    font-size:3.5rem
  }
  h2 {
    font-size:2.5rem
  }
  h3 {
    font-size:1.9375rem
  }
  h4 {
    font-size:1.5625rem
  }
  h5 {
    font-size:1.25rem
  }
  h6 {
    font-size:1rem
  }

}
a {
  line-height:inherit;
  color:#EC9329;
  text-decoration:none;
  cursor:pointer
}
a:hover,a:focus {
  color:#db8013
}
a img {
  border:0
}
hr {
  clear:both;
  max-width:75rem;
  height:0;
  margin:1.25rem auto;
  border-top:0;
  border-right:0;
  border-bottom:1px solid #cacaca;
  border-left:0
}
ul,ol,dl {
  margin-bottom:1rem;
  list-style-position:outside;
  line-height:1.6
}
li {
  font-size:inherit
}
ul {
  margin-left:1.25rem;
  list-style-type:disc
}
ol {
  margin-left:1.25rem
}
ul ul,ol ul,ul ol,ol ol {
  margin-left:1.25rem;
  margin-bottom:0
}
dl {
  margin-bottom:1rem
}
dl dt {
  margin-bottom:.3rem;
  font-weight:bold
}
blockquote {
  margin:0 0 1rem;
  padding:.5625rem 1.25rem 0 1.1875rem;
  border-left:1px solid #cacaca
}
blockquote,blockquote p {
  line-height:1.6;
  color:#8a8a8a
}
cite {
  display:block;
  font-size:.8125rem;
  color:#8a8a8a
}
cite:before {
  content:"— "
}
abbr,abbr[title] {
  border-bottom:1px dotted #000;
  cursor:help;
  text-decoration:none
}
figure {
  margin:0
}
code {
  padding:.125rem .3125rem .0625rem;
  border:1px solid #cacaca;
  background-color:#DFDFE6;
  font-family:Consolas,"Liberation Mono",Courier,monospace;
  font-weight:normal;
  color:#000
}
kbd {
  margin:0;
  padding:.125rem .25rem 0;
  background-color:#DFDFE6;
  font-family:Consolas,"Liberation Mono",Courier,monospace;
  color:#000
}
.subheader {
  margin-top:.2rem;
  margin-bottom:.5rem;
  font-weight:normal;
  line-height:1.4;
  color:#8a8a8a
}
.lead {
  font-size:125%;
  line-height:1.6
}
.stat {
  font-size:2.5rem;
  line-height:1
}
p+.stat {
  margin-top:-1rem
}
ul.no-bullet,ol.no-bullet {
  margin-left:0;
  list-style:none
}
.text-left {
  text-align:left
}
.text-right {
  text-align:right
}
.text-center {
  text-align:center
}
.text-justify {
  text-align:justify
}
@media print, screen and (min-width: 40em) {
  .medium-text-left {
    text-align:left
  }
  .medium-text-right {
    text-align:right
  }
  .medium-text-center {
    text-align:center
  }
  .medium-text-justify {
    text-align:justify
  }

}
@media print, screen and (min-width: 64em) {
  .large-text-left {
    text-align:left
  }
  .large-text-right {
    text-align:right
  }
  .large-text-center {
    text-align:center
  }
  .large-text-justify {
    text-align:justify
  }

}
.show-for-print {
  display:none !important
}
@media print {
  * {
    background:transparent !important;
    box-shadow:none !important;
    color:black !important;
    text-shadow:none !important
  }
  .show-for-print {
    display:block !important
  }
  .hide-for-print {
    display:none !important
  }
  table.show-for-print {
    display:table !important
  }
  thead.show-for-print {
    display:table-header-group !important
  }
  tbody.show-for-print {
    display:table-row-group !important
  }
  tr.show-for-print {
    display:table-row !important
  }
  td.show-for-print {
    display:table-cell !important
  }
  th.show-for-print {
    display:table-cell !important
  }
  a,a:visited {
    text-decoration:underline
  }
  a[href]:after {
    content:" (" attr(href) ")"
  }
  .ir a:after,a[href^='javascript:']:after,a[href^='#']:after {
    content:''
  }
  abbr[title]:after {
    content:" (" attr(title) ")"
  }
  pre,blockquote {
    border:1px solid #8a8a8a;
    page-break-inside:avoid
  }
  thead {
    display:table-header-group
  }
  tr,img {
    page-break-inside:avoid
  }
  img {
    max-width:100% !important
  }
  @page {
    margin:0.5cm
  }
  p,h2,h3 {
    orphans:3;
    widows:3
  }
  h2,h3 {
    page-break-after:avoid
  }
  .print-break-inside {
    page-break-inside:auto
  }

}
/* buttons */
.button {
  display:inline-block;
  vertical-align:middle;
  margin:0 0 1rem 0;
  font-family:"OpenSans-Bold";
  padding:0.85em 1em;
  -webkit-appearance:none;
  border:1px solid transparent;
  border-radius:0;
  transition:background-color 0.25s ease-out,color 0.25s ease-out;
  font-size:0.9rem;
  line-height:1;
  text-align:center;
  cursor:pointer;
  background-color:#F06A0A;
  color:#fefefe
}
[data-whatinput='mouse'] .button {
  outline:0
}
.button:hover,.button:focus {
  background-color:#cc5a09;
  color:#fefefe
}
.button.tiny {
  font-size:.6rem
}
.button.small {
  font-size:.75rem
}
.button.large {
  font-size:1.25rem
}
.button.expanded {
  display:block;
  width:100%;
  margin-right:0;
  margin-left:0
}
.button.primary {
  background-color:#EC9329;
  color:#000
}
.button.primary:hover,.button.primary:focus {
  background-color:#cc7712;
  color:#000
}
.button.secondary {
  background-color:#F06A0A;
  color:#000
}
.button.secondary:hover,.button.secondary:focus {
  background-color:#c05508;
  color:#000
}
.button.success {
  background-color:#3adb76;
  color:#000
}
.button.success:hover,.button.success:focus {
  background-color:#22bb5b;
  color:#000
}
.button.warning {
  background-color:#ffae00;
  color:#000
}
.button.warning:hover,.button.warning:focus {
  background-color:#cc8b00;
  color:#000
}
.button.alert {
  background-color:#cc4b37;
  color:#000
}
.button.alert:hover,.button.alert:focus {
  background-color:#a53b2a;
  color:#000
}

a.button:hover,a.button:focus {
  text-decoration:none
}
.close-button {
  position:absolute;
  color:#8a8a8a;
  cursor:pointer
}
[data-whatinput='mouse'] .close-button {
  outline:0
}
.close-button:hover,.close-button:focus {
  color:#000
}
.close-button.small {
  right:0.66rem;
  top:0.33em;
  font-size:1.5em;
  line-height:1
}
.close-button,.close-button.medium {
  right:1rem;
  top:0.5rem;
  font-size:2em;
  line-height:1
}

.sticky-container {
  position:relative
}
.sticky {
  position:relative;
  z-index:0;
  transform:translate3d(0, 0, 0)
}
.sticky.is-stuck {
  position:fixed;
  z-index:5;
  width:100%
}
.sticky.is-stuck.is-at-top {
  top:0
}
.sticky.is-stuck.is-at-bottom {
  bottom:0
}
.sticky.is-anchored {
  position:relative;
  right:auto;
  left:auto
}
.sticky.is-anchored.is-at-bottom {
  bottom:0
}
icky.is-stuck.is-at-bottom {
  bottom:0
}
.sticky.is-anchored {
  position:relative;
  right:auto;
  left:auto
}
.sticky.is-anchored.is-at-bottom {
  bottom:0
}
/* tooltips */
.has-tip {
  position:relative;
  display:inline-block;
  border-bottom:dotted 1px #8a8a8a;
  font-weight:bold;
  cursor:help
}
.tooltip {
  position:absolute;
  top:calc(100% + .6495rem);
  z-index:1200;
  max-width:10rem;
  padding:.75rem;
  border-radius:0;
  background-color:#000;
  font-size:80%;
  color:#fefefe
}
.tooltip::before {
  position:absolute
}
.tooltip.bottom::before {
  display:block;
  width:0;
  height:0;
  border:inset .75rem;
  content:'';
  border-top-width:0;
  border-bottom-style:solid;
  border-color:transparent transparent #000;
  bottom:100%
}
.tooltip.bottom.align-center::before {
  left:50%;
  -ms-transform:translateX(-50%);
  transform:translateX(-50%)
}
.tooltip.top::before {
  display:block;
  width:0;
  height:0;
  border:inset .75rem;
  content:'';
  border-bottom-width:0;
  border-top-style:solid;
  border-color:#000 transparent transparent;
  top:100%;
  bottom:auto
}
.tooltip.top.align-center::before {
  left:50%;
  -ms-transform:translateX(-50%);
  transform:translateX(-50%)
}
.tooltip.left::before {
  display:block;
  width:0;
  height:0;
  border:inset .75rem;
  content:'';
  border-right-width:0;
  border-left-style:solid;
  border-color:transparent transparent transparent #000;
  left:100%
}
.tooltip.left.align-center::before {
  bottom:auto;
  top:50%;
  -ms-transform:translateY(-50%);
  transform:translateY(-50%)
}
.tooltip.right::before {
  display:block;
  width:0;
  height:0;
  border:inset .75rem;
  content:'';
  border-left-width:0;
  border-right-style:solid;
  border-color:transparent #000 transparent transparent;
  right:100%;
  left:auto
}
.tooltip.right.align-center::before {
  bottom:auto;
  top:50%;
  -ms-transform:translateY(-50%);
  transform:translateY(-50%)
}
.tooltip.align-top::before {
  bottom:auto;
  top:10%
}
.tooltip.align-bottom::before {
  bottom:10%;
  top:auto
}
.tooltip.align-left::before {
  left:10%;
  right:auto
}
.tooltip.align-right::before {
  left:auto;
  right:10%
}

/* top-bar */
.top-bar {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-align:center;
  align-items:center;
  padding:.5rem;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
}
.top-bar,.top-bar ul {
  background-color:#DFDFE6
}
.top-bar input {
  max-width:200px;
  margin-right:1rem
}
.top-bar .input-group-field {
  width:100%;
  margin-right:0
}
.top-bar input.button {
  width:auto
}
.top-bar .top-bar-left,.top-bar .top-bar-right {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
}
@media print, screen and (min-width: 40em) {
  .top-bar {
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
  }
  .top-bar .top-bar-left {
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    margin-right:auto
  }
  .top-bar .top-bar-right {
    -ms-flex:0 1 auto;
    flex:0 1 auto;
    margin-left:auto
  }

}
@media screen and (max-width: 63.9375em) {
  .top-bar.stacked-for-medium {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
  .top-bar.stacked-for-medium .top-bar-left,.top-bar.stacked-for-medium .top-bar-right {
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%
  }

}
@media screen and (max-width: 74.9375em) {
  .top-bar.stacked-for-large {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
  .top-bar.stacked-for-large .top-bar-left,.top-bar.stacked-for-large .top-bar-right {
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%
  }

}
.top-bar-title {
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  margin:0.5rem 1rem 0.5rem 0
}
.top-bar-left,.top-bar-right {
  -ms-flex:0 0 auto;
  flex:0 0 auto
}
.hide {
  display:none !important
}
.invisible {
  visibility:hidden
}
@media screen and (max-width: 39.9375em) {
  .hide-for-small-only {
    display:none !important
  }

}
@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display:none !important
  }

}
@media print, screen and (min-width: 40em) {
  .hide-for-medium {
    display:none !important
  }

}
@media screen and (max-width: 39.9375em) {
  .show-for-medium {
    display:none !important
  }

}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display:none !important
  }

}
@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display:none !important
  }

}
@media print, screen and (min-width: 64em) {
  .hide-for-large {
    display:none !important
  }

}
@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display:none !important
  }

}
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display:none !important
  }

}
@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display:none !important
  }

}
.show-for-sr,.show-on-focus {
  position:absolute !important;
  width:1px;
  height:1px;
  padding:0;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  white-space:nowrap;
  -webkit-clip-path:inset(50%);
  clip-path:inset(50%);
  border:0
}
.show-on-focus:active,.show-on-focus:focus {
  position:static !important;
  width:auto;
  height:auto;
  overflow:visible;
  clip:auto;
  white-space:normal;
  -webkit-clip-path:none;
  clip-path:none
}
.show-for-landscape,.hide-for-portrait {
  display:block !important
}
@media screen and (orientation: landscape) {
  .show-for-landscape,.hide-for-portrait {
    display:block !important
  }

}
@media screen and (orientation: portrait) {
  .show-for-landscape,.hide-for-portrait {
    display:none !important
  }

}
.hide-for-landscape,.show-for-portrait {
  display:none !important
}
@media screen and (orientation: landscape) {
  .hide-for-landscape,.show-for-portrait {
    display:none !important
  }

}
@media screen and (orientation: portrait) {
  .hide-for-landscape,.show-for-portrait {
    display:block !important
  }

}
.align-right {
  -ms-flex-pack:end;
  justify-content:flex-end
}
.align-center {
  -ms-flex-pack:center;
  justify-content:center
}
.align-justify {
  -ms-flex-pack:justify;
  justify-content:space-between
}
.align-spaced {
  -ms-flex-pack:distribute;
  justify-content:space-around
}
.align-right.vertical.menu>li>a {
  -ms-flex-pack:end;
  justify-content:flex-end
}
.align-center.vertical.menu>li>a {
  -ms-flex-pack:center;
  justify-content:center
}
.align-top {
  -ms-flex-align:start;
  align-items:flex-start
}
.align-self-top {
  -ms-flex-item-align:start;
  align-self:flex-start
}
.align-bottom {
  -ms-flex-align:end;
  align-items:flex-end
}
.align-self-bottom {
  -ms-flex-item-align:end;
  align-self:flex-end
}
.align-middle {
  -ms-flex-align:center;
  align-items:center
}
.align-self-middle {
  -ms-flex-item-align:center;
  -ms-grid-row-align:center;
  align-self:center
}
.align-stretch {
  -ms-flex-align:stretch;
  align-items:stretch
}
.align-self-stretch {
  -ms-flex-item-align:stretch;
  -ms-grid-row-align:stretch;
  align-self:stretch
}
.align-center-middle {
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center
}

/* share links */
.share-links {
  display:block;
  margin:2.5rem auto 2rem;
  padding-bottom:3rem;
  width:146px;
  z-index:3
}
.share-links>a {
  position:relative;
  width:2.6rem;
  height:2.6rem;
  overflow:hidden
}
.share-links>a:hover {
  background-color:transparent !important
}
.share-links>a i {
  position:relative;
  display:inline-block;
  height:2.6rem;
  width:2.6rem;
  z-index:2
}
.share-links>a span {
  position:absolute;
  visibility:hidden;
  display:inline-block;
  top:0;
  right:0;
  z-index:1;
  opacity:0.9;
  width:12.5rem;
  height:2.6rem;
  box-sizing:content-box;
  line-height:2.6rem;
  padding-left:.45614rem;
  text-align:left;
  text-transform:uppercase;
  font-size:0.9rem;
  background-color:white;
  border-left:0.312rem solid #fff
}
.share-links>a:first-child {
  margin-top:0;
  margin-left:0
}
.share-links>a.share-twitter i {
  background:url("../images/twitter.svg")
}
.share-links>a.share-twitter i:hover {
  opacity:0.7
}
.share-links>a.share-facebook i {
  background:url("../images/facebook.svg")
}
.share-links>a.share-facebook i:hover {
  opacity:0.7
}
.share-links>a.share-google i {
  background:url("../images/google.svg")
}
.share-links>a.share-google i:hover {
  opacity:0.7
}
.share-links>a {
  display:inline-block;
  float:left;
  margin-left:.65rem
}
.share-links>a.share-clipboard {
  display:none
}
@media print, screen and (min-width: 40em) {
  .share-links {
    padding-bottom:0;
    position:fixed;
    top:5rem;
    width:55px
  }
  .share-links>a {
    position:relative;
    width:3.5625rem;
    height:3.5625rem;
    overflow:hidden
  }
  .share-links>a:hover {
    background-color:transparent !important
  }
  .share-links>a i {
    position:relative;
    display:inline-block;
    height:3.5625rem;
    width:3.5625rem;
    z-index:2
  }
  .share-links>a span {
    position:absolute;
    visibility:hidden;
    display:inline-block;
    top:0;
    right:0;
    z-index:1;
    opacity:0.9;
    width:12.5rem;
    height:3.5625rem;
    box-sizing:content-box;
    line-height:3.5625rem;
    padding-left:.625rem;
    text-align:left;
    text-transform:uppercase;
    font-size:0.9rem;
    background-color:white;
    border-left:0.4275rem solid #fff
  }
  .share-links>a:first-child {
    margin-top:0;
    margin-left:0
  }
  .share-links>a.share-twitter i {
    background:url("../images/twitter.svg")
  }
  .share-links>a.share-twitter i:hover {
    opacity:0.7
  }
  .share-links>a.share-facebook i {
    background:url("../images/facebook.svg")
  }
  .share-links>a.share-facebook i:hover {
    opacity:0.7
  }
  .share-links>a.share-google i {
    background:url("../images/google.svg")
  }
  .share-links>a.share-google i:hover {
    opacity:0.7
  }
  .share-links>a {
    display:block;
    float:none;
    margin-left:0;
    margin-top:.45614rem
  }
  .share-links>a:hover,.share-links>a:focus {
    width:17.115rem;
    transition:width 130ms
  }
  .share-links>a:hover i,.share-links>a:focus i {
    position:relative;
    z-index:2
  }
  .share-links>a:hover span,.share-links>a:focus span {
    visibility:visible
  }

}
/* fonts */
@font-face {
  font-family:'ChunkFive';
  src:url("../fonts/Chunk.ttf") format("truetype");
  font-weight:900;
  font-style:normal
}
@font-face {
  font-family:'OpenSans-Regular';
  src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal
}
@font-face {
  font-family:'OpenSans-Light';
  src:url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight:300;
  font-style:normal
}
@font-face {
  font-family:'OpenSans-Bold';
  src:url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight:600;
  font-style:normal
}
.button.large {
  font-size:1rem;
  padding:0.8rem 2rem;
  margin-top:1rem;
  text-transform:uppercase
}

/* pb specific */
body {
  font-size:16px;
  padding-bottom:3rem
}
@media print, screen and (min-width: 40em) {
  body {
    padding-bottom:6rem
  }

}
body .top-bar {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  color:white;
  background-color:#F06A0A;
  font-family:"OpenSans-Bold",sans-serif;
  font-size:0.6rem;
  text-transform:uppercase
}
@media print, screen and (min-width: 40em) {
  body .top-bar {
    font-size:0.9rem
  }

}
body .top-bar img {
  max-width:3rem;
  margin-right:0.2rem
}
@media print, screen and (min-width: 40em) {
  body .top-bar img {
    margin-right:1rem
  }

}
body header {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  background-color:#EC9329
}
body header img {
  width:7rem
}
@media print, screen and (min-width: 40em) {
  body header img {
    margin:1rem 0 0;
    width:15rem
  }

}
body header .title-bar h1 {
  color:white;
  font-family:"ChunkFive",serif;
}
body p {
  font-family:"OpenSans-Light",sans-serif;
}
body .text {
  margin:1rem 0
}
body .caret-down {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  padding:3rem 0 5rem
}
body .caret-down img {
  width:5rem
}
body .grid-container.full {
  margin-bottom: 5rem
}
body #intro {
  padding:2rem 0rem 4rem
}
@media print, screen and (min-width: 40em) {
  body #intro {
    padding:4rem 0rem 14rem
  }

}
body [id*="pb-features-"],body #pb-settings {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  padding:3rem 0 2rem
}
@media print, screen and (min-width: 40em) {
  body [id*="pb-features-"],body #pb-settings {
    padding:3rem 0 5rem
  }

}
body [id*="pb-features-"] div,body #pb-settings div {
  width:calc(100% - 1.875rem);
  margin-right:.9375rem;
  margin-left:.9375rem;
  text-align:center
}
@media print, screen and (min-width: 40em) {
  body [id*="pb-features-"] div,body #pb-settings div {
    width:calc(33.33333% - 1.875rem);
    margin-right:.9375rem;
    margin-left:.9375rem
  }

}
body [id*="pb-features-"] h3,body #pb-settings h3 {
  font-size:1.5rem;
  text-align:center;
  margin-top:1rem
}
@media print, screen and (min-width: 40em) {
  body [id*="pb-features-"] h3,body #pb-settings h3 {
    text-align:left;
    font-size:1.9375rem
  }

}
body [id*="pb-features-"] .text,body [id*="pb-features-"] p,body #pb-settings .text,body #pb-settings p {
  text-align:left
}
body #pb-settings {
  background-image:linear-gradient(#EC9329, #EC9329 30%, #fff 30%)
}
body [id*="pb-donate"] {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap
}
body [id*="pb-donate"] img {
  max-width:200px
}
@media print, screen and (min-width: 40em) {
  body [id*="pb-donate"] img {
    max-width:250px
  }

}
body [id*="pb-donate"] div {
  width:calc(100% - 1.875rem);
  margin-right:.9375rem;
  margin-left:.9375rem
}
@media print, screen and (min-width: 40em) {
  body [id*="pb-donate"] div {
    width:calc(33.33333% - 1.875rem);
    margin-right:.9375rem;
    margin-left:.9375rem
  }

}
body [id*="pb-donate"] h3 {
  font-size:1.5rem;
  text-align:center;
  margin-top:1rem
}
@media print, screen and (min-width: 40em) {
  body [id*="pb-donate"] h3 {
    font-size:1.9375rem
  }

}
body [id*="pb-donate"] span {
  color:#F06A0A;
  font-family:"OpenSans-Bold",sans-serif;
  font-size:0.9rem;
  text-align:center;
  text-transform:uppercase
}
body #pb-donate {
  background-image:linear-gradient(#DFDFE6, #DFDFE6 30%, #fff 30%);
  padding:4rem 0
}
@media print, screen and (min-width: 40em) {
  body #pb-donate {
    background-image:linear-gradient(#DFDFE6, #DFDFE6 45%, #fff 45%);
    padding:7rem 0
  }

}
body #pb-donate-help {
  margin-bottom:0
}
@media print, screen and (min-width: 40em) {
  body #pb-donate-help {
    margin-bottom:5rem
  }

}
