*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Dynamic libraries
*.dylib

# JSHydra
buildtools/jshydra/mozilla/js

# Vim swap files
*.sw*

# Mac DS_Store
*.DS_Store

node_modules

tests/.cache
tests/.pytest_cache
.pytest_cache

*.xpi
.chrome-profile

.idea

#Eclipse project stuff
.settings/
.project

web-ext-artifacts
pkg
release-utils/config.sh
release-utils/xpi
