sudo: required
language: python
os: linux
dist: bionic
python: 3.6
jobs:
  fast_finish: true
  include:
    - env: INFO="lint"
      node_js: 14
    - env: INFO="chrome beta" BROWSER=google-chrome-beta
      addons:
        chrome: beta
    - env: INFO="chrome stable" BROWSER=google-chrome-stable
      addons:
        chrome: stable
    - env: INFO="firefox" BROWSER=firefox
      addons:
        firefox: latest
    - env: INFO="firefox esr" BROWSER=firefox
      addons:
        firefox: latest-esr
    - env: INFO="firefox beta" BROWSER=firefox
      addons:
        firefox: latest-beta
    - env: INFO="firefox nightly" BROWSER=firefox
      addons:
        firefox: latest-nightly
  allow_failures:
    - env: INFO="firefox nightly" BROWSER=firefox
      addons:
        firefox: latest-nightly
before_script: travis_retry ./scripts/setup_travis.sh
script: . ./scripts/run_travis.sh
services:
  - xvfb
