/*
 * This file is part of the Adblock Plus build tools,
 * Copyright (C) 2006-2013 Eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

{
  "manifest_version": 2,
  "name": "__MSG_name__{% if experimentalAPI %} experimental build{% endif %}",
  "description": "__MSG_description__",
  "default_locale": "en_US",
  "version": {{version|json}},

  {%- if metadata.has_section('compat') and metadata.has_option('compat', 'chrome') %}
  "minimum_chrome_version": {{metadata.get('compat', 'chrome')|json}},
  {%- endif %}

  {%- if not releaseBuild %}
  "update_url": "https://adblockplus.org/devbuilds/
    {{- metadata.get('general', 'basename') -}}
    {%- if experimentalAPI -%}
    -experimental
    {%- endif -%}
    /updates.xml",
  {%- elif metadata.has_option('general', 'updateURL') %}
  "update_url": {{metadata.get('general', 'updateURL')|json}},
  {%- endif %}

  {%- if pageAction %}
  "page_action": {
    "default_icon": {{pageAction.icon|json}},
    {%- if pageAction.popup %}
    "default_popup": {{pageAction.popup|json}},
    {%- endif %}
    "default_title": "__MSG_name__"
  },
  {%- endif %}

  {%- if browserAction %}
  "browser_action": {
    "default_icon": {{browserAction.icon|json}},
    {%- if browserAction.popup %}
    "default_popup": {{browserAction.popup|json}},
    {%- endif %}
    "default_title": "__MSG_name__"
  },
  {%- endif %}

  {%- if icons %}
  "icons": {{icons|json}},
  {%- endif %}

  {%- if permissions %}
  "permissions": {{permissions|json}},
  {%- endif %}

  {%- if backgroundScripts %}
  "background": {
    "scripts": {{backgroundScripts|json}}
  },
  {%- endif %}

  {%- if metadata.has_option('general', 'options') %}
  "options_page": {{metadata.get('general', 'options')|json}},
  {%- endif %}

  {%- if contentScripts %}
  "content_scripts": {{contentScripts|json}},
  {%- endif %}

  {%- if webAccessible %}
  "web_accessible_resources": {{webAccessible|json}},
  {%- endif %}

  "_dummy": false
}
