registry=https://system1.jfrog.io/system1/api/npm/npm-virtual/
//system1.jfrog.io/system1/api/npm/npm-virtual/:_authToken=${NPM_TOKEN}
always-auth=true
unsafe-perm=true # https://github.com/npm/npm/issues/19479
fund=false
save-exact=true
init-license = "UNLICENSED"
init-version = "0.0.0"
