.privacyBadgerDialog{
  height: auto;
  width: 400px;
  background-color: #FcFcFc;
  border: 1px solid #111;
  z-index: 1000;
  box-shadow: 2px 2px 10px #222;
  position: fixed;
  top: 33%;
  left: 33%;
  color: #050505 !important;
}

.privacyBadgerDialog button{
  font-size: 16px !important;
  display: block !important;
  border: 1px solid #333 !important;
  background: #e9f3f3 !important;
  background-image: linear-gradient(#e9f3f3, #c9e3e3) !important;
  box-shadow: 0px 0px 4px #555 !important;
  padding: 2px !important;
  margin: 10px auto !important;
  width: 380px !important;
  height: 26px;
  border-radius: 4px !important;
  color: #111 !important;
}
.privacyBadgerDialog h2{
  font-size: 18px !important;
  margin: 22px 5px !important;
  display: inline-block !important;
  color: #050505 !important;
}
.privacyBadgerDialog h3{
  margin: -5px 10px 20px 10px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #050505 !important;
}
.privacyBadgerDialog #pbLogo{
  margin: 5px 0 0 5px;
  display: inline;
  float: left;
}
.privacyBadgerDialog .clear{
  clear: both !important;
}
.privacyBadgerDialog .pbButton.default{
border: 1px solid #009999 !important;
box-shadow: 0px 0px 4px #22eeee !important;
}
