.privacyBadgerDialog{
  height: 200px;
  width: 400px;
  background-color: #FcFcFc;
  border: 1px solid #111;
  z-index: 1000;
  box-shadow: 2px 2px 10px #222;
  position: fixed;
  top: 33%;
  left: 33%;
}

.privacyBadgerDialog button{
  font-size: 16px;
  font-weight: bold;
  display: block;
  border: 1px solid #333;
  box-shadow: 3px 3px 2px #888;
  background: #f3f3f3;
  padding: 2px;
  margin: 10px auto;
  width: 380px;
  border-radius: 4px;
}
.privacyBadgerDialog h2{
  font-size: 18px;
  margin: 22px 5px;
  display: inline-block;
}
.privacyBadgerDialog h3{
  margin: -5px 10px 8px 10px;
  font-size: 14px;
}
.privacyBadgerDialog #pbLogo{
  margin: 5px 0 0 5px;
  display: inline;
  float: left;
}
.privacyBadgerDialog .clear{
  clear: both;
}

