body {
  font-size: 90%;
  min-width: 330px;
  background: #fefefe;
  color: #333;
  font-family: helvetica, arial, sans-serif;
}

a { text-decoration: none }
a:hover { color: #eeeeff }

#filtersList {
  border: 1px dotted gray;
  padding: 1px;
  font-size: 75%;
  display: none;
}

.ui-button {
    padding: 3px;
}

.spacer {
  height: 7px;
  width: 5px;
  display: block;
}

.click-nav ul {position:relative;font-weight:900;list-style-type:none;}
.click-nav ul li {position:relative;list-style:none;cursor:pointer;}
.click-nav ul li ul {position:relative;}
.click-nav ul .clicker {position:relative;background:#2284B5;color:#FFF;}
.click-nav ul .clicker:hover,.click-nav ul .active {background:#196F9A;}
.click-nav .imglink img {position:absolute;top:9px;left:12px;}
.click-nav ul li a {transition:background-color 0.2s ease-in-out;-webkit-transition:background-color 0.2s ease-in-out;
-moz-transition:background-color 0.2s ease-in-out;display:block;padding:8px 10px 8px 40px;background:#FFF;color:#333;text-decoration:none;}
.click-nav ul li a:hover {background:#F2F2F2;}
/*.click-nav ul .block {background:#FF0000;}
.click-nav ul .block:hover {background:#BE2625;}
.click-nav ul .cookieblock {background:#FFF200; color:black}
.click-nav ul .cookieblock:hover {background:#FFF79A; color:black}
.click-nav ul .greyed {background:#C0C0C0; color:gray}
.click-nav ul .greyed:hover {background:#E0E0E0; color:gray} */
.click-nav ul .userset {background-image:url('/skin/lock.png');background-repeat:no-repeat;background-position: right center;} 
.clicker{
  border-top: 1px solid #aaaaaa;
  padding: 5px;
  height: 35px;
}
.origin{
  width: 60%;
  color: #555555;
  font-size: 16px;
  float: left;
  display: inline;
}
.switch-container{
  width: 30%;
  float: right;
  display: inline;
}
.clear{
  clear: both;
}
.block .switch-candy a {
  background-color: #c61223;
}
.cookieblock .switch-candy a{
  background-color: #f5e560;
}
.noaction .switch-candy a{
  background-color: #70c66b;
}
.honeybadgerPowered{
  width: 20px;
  height: 20px;
  display: inline;
  float: left;
  margin-right: 4px;
}
.userset .honeybadgerPowered{
  background: url('/icons/badger-19.png') no-repeat;
}
.tooltipContainer{
display: block;
clear: both;
color: #555555;
font-size: 12px;
}
