body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 20px;
  width: 100%;
}

td
{
  font-size: 13px;
  vertical-align: top;
  text-align: left;
}

p
{
  margin-top: 0.5em;
}

button
{
  white-space: pre;
}
#tabs {
  min-width: 750px;
}

.tooltipArrow {
  bottom: 27px;
}

#pbInstructions {
  margin-bottom: 20px;
}

#rawFilters {
  display: none;
}

.okMsg {
    display: none;
    color: #ffffff;
    background: #30e030;
    font-weight: bold;
    padding: 3px;
}

.errMsg {
    display: none;
    color: #ffffff;
    background: #e03030;
    font-weight:bold;
    padding:3px;
}

#tab-manage-data {
  overflow: auto;
}
#import {
  width: 350px;
  float: left;
}
#export {
  width: 350px;
  float: left;
}

/* Filter list entry status message */
.flMsg {
    display: none;
    color: #b0b0b0;
}

.importInput{
  visibility: hidden;
  height: 0;
  width: 0;
}

#tracking-domains-div {
  min-width: 390px;
  width: 89vw;
}

@media (min-width: 798px) {
  #tracking-domains-div {
    width: auto;
    min-with: 750px;
  }

  .switch-container{
      float: right;
      margin-left: 0;
      margin-right: 193px;
  }

  .honeybadgerPowered{
    float: right;
    left: 148px;
    bottom: 0;
  }

  .key {
    text-align: right;
    padding-left: 0;
    padding-right: 215px;
  }
}

#settingsSuffix{
  color: #555;
  font-size: 12px;
  width: 500px;
  position: relative;
  left: 50px;
}

a, a:hover, a:active, a:visited{
  color: #00aaaa;
  text-decoration: underline;
}
