body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    width: 100%;
}

h1 {
    color: #707070;
    font-size: 24px;
    font-weight: normal;
    font-family: helvetica, arial, 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', sans-serif;;
    margin: 10px 8px;
}

h3 {
    margin: 10px 0;
}

td
{
  font-size: 13px;
  vertical-align: top;
  text-align: left;
}

button
{
  white-space: pre;
}

label {
  display: inline-flex;
}

#tracking-domains-filters label {
    display: inline;
}

p, #settingsForm {
    margin: 10px 0;
}

#whitelistForm {
    margin: 20px 0 0;
}

header, #tabs {
    max-width: 800px;
    margin: 0 auto;
}

#pbInstructions {
  margin-bottom: 20px;
}

#tab-manage-data {
  overflow: auto;
}

.btn-silo {
  float: left;
  clear: both;
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
}

.btn-silo + .btn-silo {
  border-top: 1px solid #d3d3d3;
  margin-top: 10px;
  padding-top: 10px;
}

.btn-silo div {
  max-width: 350px;
  width: 100%;
  float: left;
}

.btn-danger {
  color: #e02431;
  border-width: 1px;
  border-color: #e02431;
}

.btn-danger:hover {
  color: white;
  background: #e02431;
}

.importInput{
  visibility: hidden;
  height: 0;
  width: 0;
}

#blockedResources {
  width: 390px;
}

#tracking-domains-filters {
    color: #505050;
    font-size: 14px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    max-width: 390px;
}

#tracking-domains-filters li {
    margin: 5px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#tracking-domains-filters > li > label {
    flex: 1 0 150px; /* at least this wide */
    max-width: 150px; /* at most this wide */
}

#tracking-domains-filters > li > label + * {
    flex: 1 0 200px; /* at least this wide or wrap */
}

.clickerContainer {
    max-height: 400px; /* override popup.css */
}

#settings-suffix {
    color: #555;
    font-size: 12px;
    max-width: 500px;
    margin-left: 50px;
}

#settings-suffix div {
    margin: 12px 0;
}

#check-dnt-policy-row {
    margin-left: 25px;
}

a, a:hover, a:active, a:visited{
  color: #00aaaa;
  text-decoration: underline;
}
