body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 20px;
  width: 100%;
}

td
{
  font-size: 13px;
  vertical-align: top;
  text-align: left;
}

p
{
  margin-top: 0.5em;
}

button
{
  white-space: pre;
}

#pbInstructions {
  margin-bottom: 20px;
}

#tab-manage-data {
  overflow: auto;
}
#import {
  width: 350px;
  float: left;
}
#export {
  width: 350px;
  float: left;
}

.importInput{
  visibility: hidden;
  height: 0;
  width: 0;
}

#blockedResources {
  width: 390px;
}

#tracking-domains-filters {
    color: #505050;
    font-size: 14px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    max-width: 390px;
}

#tracking-domains-filters li {
    margin: 5px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#tracking-domains-filters > li > label {
    flex: 1 0 150px; /* at least this wide */
    max-width: 150px; /* at most this wide */
}

#tracking-domains-filters > li > label + * {
    flex: 1 0 200px; /* at least this wide or wrap */
}

.clickerContainer {
    max-height: 400px; /* override popup.css */
}

#settingsSuffix{
  color: #555;
  font-size: 12px;
  width: 500px;
  position: relative;
  left: 50px;
}

a, a:hover, a:active, a:visited{
  color: #00aaaa;
  text-decoration: underline;
}
