@import 'app';
@import 'share-links';
@import 'base/fonts';
@import 'base/base';
@import 'variables/typography';

body {
  font-size: $default-font-size;
  padding-bottom: 3rem;
  @include breakpoint(medium) {
    padding-bottom: 6rem;
  }
  .top-bar {
    color: white;
    background-color: $secondary-color;
    font-family: $sans-bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    img {
      max-width: 3rem;
      margin-right: 1rem;
    }
  }
  header {
    background-color: $primary-color;
    img {
      max-width: 200px;
      width: 15%;
    }
    .title-bar {
      h1 {
        color: white;
        font-family: $title-font;
      }
    }
  }
  p {
    font-family: $sans-light;
  }

  #intro {
    padding: 3rem 0 5rem;
  }
  [id*="pb-features-"],
  #pb-settings {
    @include xy-grid;
    padding: 3rem 0 5rem;
    div {
      @include xy-cell(12);
      @include breakpoint(medium) {
        @include xy-cell(3);
      }
    }
  }

  #pb-settings {
    background-image:
    linear-gradient(
    $primary-color,
    $primary-color 30%,
    white 30%
    );
  }

  [id*="pb-donate"] {
    @include xy-grid;
    img {
      max-width: 250px;
    }
    div {
      @include xy-cell(12);
      @include breakpoint(medium) {
        @include xy-cell(4);
      }
    }
    span {
      color: $secondary-color;
      font-family: $sans-bold;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }

  #pb-donate {
    background-image:
    linear-gradient(
    $light-gray,
    $light-gray 30%,
    white 30%
    );
    padding: 3rem 0;
  }
}
