
/* social-icons-long-read.svg map */
$social-icon-original-size: 74.7px;
$social-icon-desktop-size: 3.5625rem;
$social-icon-mobile-size: 2.6rem;
$social-link-text-width: 12.5rem;


@mixin share-links-container($icon-size) {
  > a {
    position: relative;
    width: $icon-size;
    height: $icon-size;
    overflow: hidden;

    &:hover {
      background-color: transparent !important;
    }


    i {
      position: relative;
      display: inline-block;
      height: $icon-size;
      width: $icon-size;
      z-index: 2;
    }

    span {
      position: absolute;
      visibility: hidden;
      display: inline-block;
      top: 0;
      right: 0;
      z-index: 1;
      opacity: 0.9;

      width: $social-link-text-width;
      height: $icon-size;
      box-sizing: content-box;
      line-height: $icon-size;
      padding-left: $icon-size/5.7;

      text-align: left;
      text-transform: uppercase;
      font-size: 0.9rem;

      background-color: white;
      border-left: 0.12*$icon-size solid #fff;
    }

    &:first-child {
      margin-top: 0;
      margin-left: 0;
    }

    &.share-twitter i {
      background: image-url("twitter-icon.svg");
      &:hover {
        opacity: 0.7;
      }
    }

    &.share-facebook i {
      background: image-url("fb-icon.svg");
      &:hover {
        opacity: 0.7;
      }
    }

    &.share-google i {
      background: image-url("google-icon.svg");
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@mixin expanded-share-link($icon-size) {
  width: 1.12*$icon-size + $social-link-text-width + $icon-size/5.7;
  transition: width 130ms;
  i {
    position: relative;
    z-index: 2;
  }
  span {
    visibility: visible;
  }
}

.share-links {
  @include share-links-container($social-icon-mobile-size);
  display: block;
  margin: 2.5rem auto 2rem;
  padding-bottom: 3rem;
  width: 146px;
  z-index: 3;
  > a {
    display: inline-block;
    float: left;
    margin-left: $social-icon-mobile-size/4;
    &.share-clipboard {
      display: none;
    }
  }

  @include breakpoint(medium) {
    @include share-links-container($social-icon-desktop-size);
    padding-bottom: 0;
    position: absolute;
    top: 18rem;
    width: 55px;

    > a {
      display: block;
      float: none;
      margin-left: 0;
      margin-top: $social-icon-mobile-size/5.7;

      &:hover, &:focus {
        @include expanded-share-link($social-icon-desktop-size);
      }
    }
  }
}
